<div class="card-trip">
  <%= cl_image_tag room.photo.key, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to room.hotel.name, room_path(room) %></h2>
      <p><%= room.hotel.address %></p>
      <p><i class="fa-solid fa-user-group"></i> <%= room.capacity %></p>
    </div>
    <h2 class="card-trip-pricing"><%= room.price_per_night%> €/night</h2>
  </div>
</div>
